@import 'https://unpkg.com/svbstrate';

.slider{
  position:relative;
  overflow:hidden;
  width:100%;
}

.slide{
  background:tomato;
  width:50%;
}

.slide-content{
  height:100vh;
  background-size:cover;
  background-repeat:no-repeat;
}

.prevnext{
  position:absolute;
  left:0; top:0;
  z-index:1;
}
